html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Variables and Mixins */
/* End Variables and Mixins */
body {
  font-size: 15px;
  background: #fafafa;
}

.card--push {
  transform: translateY(60%);
}
@media screen and (max-width: 1115px) {
  .card--push {
    transform: none;
  }
}

.hero {
  margin: 0 auto;
  max-width: 500px;
  padding: 80px 0 25px;
  text-align: center;
}
.hero__title {
  color: #4c4e61;
  font-size: 2.15rem;
  letter-spacing: 1px;
  line-height: 3.2rem;
  margin-bottom: 15px;
}
.hero__title--light {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.hero__title--heavy {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.hero__text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #a3a5ae;
  line-height: 1.5rem;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px auto;
  max-width: 1140px;
}
.cardsWrapper .card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 27px 9px rgba(163, 165, 174, 0.15), 0px 10px 14px -8px rgba(84, 135, 186, 0.25);
  margin: 15px 0;
  padding-bottom: 10px;
  position: relative;
  width: 345px;
}
.cardsWrapper .card__accent {
  height: 4px;
  position: absolute;
  top: 0;
  width: 100%;
}
.cardsWrapper .card__container {
  margin: 25px auto;
  width: 80%;
}
.cardsWrapper .card__container .card__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #4c4e61;
  font-size: 1.25rem;
  margin: 35px 0 15px 0;
}
.cardsWrapper .card__container .card__text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #a3a5ae;
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.cardsWrapper .card__container .card__icon {
  height: 100px;
  position: relative;
  width: 100%;
}
.cardsWrapper .card__container .card__icon img {
  bottom: 0;
  position: absolute;
  right: 0;
}
.cardsWrapper .card::after {
  content: "";
  border-radius: 8px 8px 0 0;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.cardsWrapper .card--cyan::after {
  background-color: #45d3d3;
}
.cardsWrapper .card--red::after {
  background-color: #ea5353;
}
.cardsWrapper .card--orange::after {
  background-color: #fcaf4a;
}
.cardsWrapper .card--blue::after {
  background-color: #549ef2;
}

@media screen and (max-width: 1115px) {
  .cardsWrapper {
    max-width: 800px;
  }
  .cardsWrapper .card--blue {
    order: 4;
  }
}
@media screen and (max-width: 735px) {
  .hero {
    max-width: 300px;
  }
  .hero__title {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .hero__text {
    line-height: 1.5rem;
  }

  .cardsWrapper {
    max-width: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
